html {
  background-color: rgb(14, 14, 43);
  background-color: hsl(233, 47%, 7%);
}

body {
  font-family: 'Inter', sans-serif;
}

title {
  font-family: 'Inter', sans-serif;
}

.first {
  background-color: rgb(14, 14, 43);
  background-color: hsl(244, 38%, 16%);
  display: flex;
  margin: 12%;
  border: 1px rgb(14, 14, 43) none;
  border: 1px hsl(244, 38%, 16%) none;
  border-width: 1;
  border-radius: 1%;
}

.insight {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px
}

.purple {
  color: rgb(145, 89, 137);
  color: hsl(277, 64%, 61%);
}

.main {
  color: white;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 13px;
}

img {
  border: 1px rgb(14, 14, 43) none;
  border: 1px hsl(244, 38%, 16%) none;
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  background-color: rgb(14, 14, 43);
  background-color:  hsl(233, 47%, 7%);
  height: 100%;
  flex: 1;
  width: 100%;
  filter: opacity(0.3);
}

.tiny {
  display: flex;
  margin: 4%;
  padding: 10%;
  color: white;
  text-transform: uppercase;
  font-size: 5px;
  font-weight: 400;
}

p {
  padding-right: 12%;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 20px;
}

.inner {
  margin: 5%;
  flex: 1;
}

.numbers {
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
  font-family: 'Inter', sans-serif;
}

.words {
  font-size: 10px;
}

footer {
  color: white;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 10px;
  text-align: center;
}

/* Mobile Design **/
@media screen and (max-width:1100px) {
  .first {
    flex-flow: column;


  }

  .inner {
    order: 2;
    margin: 2%;
    padding-left: 30px;
  }

  .insight {
    font-size: 28Px;
  }

  .tiny {
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 18%
  }

.main{
  padding-left: 10%;
  padding-right: 20%;
}

  .tiny p {
    padding: 7px;
  }

  .words {
    font-size: 11px;
  }

  img {
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1%;
  }

  p {
    text-align: center;
  }
}
